p {
	background-color: #ff7000;	
	color: rgb(0, 0, 255);
	font-size: 1.125rem;
	font-family: 'Rosarivo', serif;
	font-weight: bold;
}
#destinations {
	background-color: #7000ff;
	font-family: 'Courier Prime', monospace;
    font-family: 'Rosarivo', serif;
}
h1 {
	text-align: center;
	font-family: 'Rosarivo', serif;
}
h2 {	
	text-align: center;
	text-decoration: underline;
	color: blue;
}
a:hover {
	color: #ff0000;
	text-decoration: none;
	padding: 10px 5px 0 5px;
	transition-duration: .4s;
}